.About {
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 80px;
    width: 100%;
}

.about-heading {
    display: inline-block;
}

.about-links {
    display: inline-block;
    margin-left: 10px;
}

.about-img {
    display: inline-block;
    margin-left: 10px;
}